input{
    background: #DBE2EF;
    border: none;
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    min-height: 30px;
}

input:hover, input:focus{
    border:none;
    outline: none;
}

input{
    width: -webkit-fill-available;
}

:host.ng-invalid fieldset{
    border-color: red;
}

:host.ng-invalid fieldset legend{
    color: red;
}

.field-title.required::after{
    content: "*";
    color: red;
}